* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-family: var(--font-sans);
	color: var(--body-col);
	background: var(--body-bg);
}

main {
	flex-grow: 1;
}

section {
	padding-block: var(--size-fluid-5);
}
.section--color {
	color: var(--section-alt-col);
	background: var(--section-alt-bg);
}

p,
h2,
h3 {
	margin-bottom: 1em;
}

.width-wrapper {
	max-width: var(--max-content-width);
	margin-inline: auto;
}
.padding-x-wrapper {
	padding-inline: var(--padding-x);
}

.mb-1 {
	margin-bottom: 1em;
}
.mb-2 {
	margin-bottom: 2em;
}
.mb-3 {
	margin-bottom: 3em;
}
