.main-header {
	--menu-height: 30px;

	box-shadow: var(--shadow-2);
	color: var(--header-col);
	background: var(--header-bg);
	z-index: 1;

	.width-wrapper {
		position: relative;
		padding-block: 20px;
	}
	a {
		display: block;
		color: var(--header-col);
		text-decoration: none;
	}

	h1 {
		text-align: center;
	}

	.theme-menu-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 15px;
		height: var(--menu-height);
		margin-top: 1em;
	}

	.theme-wrapper,
	.menu-wrapper {
		position: relative;
		height: 100%;
	}

	.main-nav,
	.theme-switcher {
		position: absolute;
		right: 0;
		top: 50%;
		display: flex;
		align-items: center;
		height: 100%;
		padding: 4px;
		padding-right: calc(var(--menu-height) + 5px);

		background: var(--header-bg);
		border-radius: 100px;

		opacity: 0;
		transform: translateY(-50%) scaleX(0);
		transition: all 0.25s ease-in-out;
		transform-origin: right;

		&--active {
			opacity: 1;
			transform: translateY(-50%) scale(1);
		}
	}

	.theme-toggler {
		position: relative;
		display: flex;
		place-content: center;
		width: var(--menu-height);
		height: 100%;

		cursor: pointer;
		border-radius: 50%;
		z-index: 2;

		&__icon {
			width: 60%;
			fill: var(--header-col);
			transform: rotate(40deg);
			transition: all 0.25s ease-in-out;
		}

		&--active {
			.theme-toggler__icon {
				fill: var(--header-col);
				transform: rotate(90deg);
			}
		}
	}

	.theme-switcher {
		display: flex;
		// overflow: hidden;

		label {
			display: block;
			width: 80px;

			border-radius: var(--radius-6);
			text-align: center;
			cursor: pointer;
		}

		input[type='radio']:checked + label {
			color: var(--gray-9);
			background: var(--gray-1);
		}
	}

	.menu-toggler {
		position: relative;
		width: var(--menu-height);
		height: var(--menu-height);
		padding: 10px;
		border-radius: 50%;
		transition: background 0.25s ease-in-out;
		cursor: pointer;
		z-index: 4;

		&__line,
		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
			height: 2px;
			background: var(--header-col);
			border-radius: 3px;

			transition: all 0.25s ease-in-out;
		}

		&__line {
			top: 20%;
			transform-origin: right center;
		}

		&::before {
			top: 50%;
			transform: translate(-50%, -50%);
		}

		&::after {
			bottom: 20%;
			transform-origin: right center;
		}

		&--active {
			background: var(--header-col);

			.menu-toggler__line,
			&::before,
			&::after {
				height: 3px;
				width: 50%;
				background: var(--header-bg);
			}

			.menu-toggler__line {
				top: 50%;
				transform: translate(-50%, -50%) rotate(0deg);
			}
			&::before {
				opacity: 0;
			}
			&::after {
				bottom: 50%;
				transform: translate(-50%, 50%) rotate(-0deg);
			}
		}
	}

	.main-nav {
		background: var(--header-bg);
		border-radius: 100px;
		z-index: 3;

		ul {
			display: flex;
			height: 100%;
			list-style: none;
		}

		a {
			display: flex;
			align-items: center;
			height: 100%;
			padding-inline: 0.5em;
			background: inherit;
		}
	}
}

@media (--md-n-above) {
	.main-header {
		.width-wrapper {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.theme-menu-wrapper {
			margin-top: 0;
		}

		.theme-switcher {
			label {
				width: 90px;
			}
		}

		.main-nav {
			a {
				padding-inline: 1em;
			}
		}
	}
}
