section p {
	text-align: justify;
}

.columns-blob {
	display: flex;
	align-items: center;
	gap: 50px;
	margin-bottom: 60px;
}

.blob {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 250px;
	height: 200px;
	padding: 1em 0.5em;

	text-align: center;
	font-size: var(--font-size-fluid-1);
	font-weight: var(--font-weight-9);
	border-radius: var(--radius-blob-4);
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
}
.card {
	padding: 1em 2em;
	box-shadow: var(--shadow-2);
	border-radius: var(--radius-2);

	h3 {
		text-align: center;
		margin-bottom: 1em;
	}
}
